<h3>Tasks</h3>

<p>
    <button type="button" class="btn btn-success" data-action="create-item">New Task</button>
</p>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <nav>
                    <ul class="pager">
                        <li><a href="#" data-action="previous-page">Previous</a></li>
                        <li><a href="#" data-action="next-page">Next</a></li>
                    </ul>
                </nav>
            </td>
        </tr>
    </tfoot>
</table>
